/* color style guide */
$body-color:          #505050;
$text-color:          #858585;
$line-color:          #9c9c9c;
$disabled-color:      #DFDFDF;
$primary-color:       #EA7F1B;
$primary-hover-color: #F1A864;
$second-color:        #45280D;
$second-hover-color:  #845428;
$white:               #ffffff;
/* end of color style guide */

/* UI color style guide */
$background: $white;
/* end of UI color style guide */